body {
  font-family: 'roboto', sans-serif;
  color: #212121;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ---HEADER---- */
.header-logo {
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17%;
  color: #000000;
}
.header-nav {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.logo-part {
  color: #000000;
}
.header-nav .link.current {
  color: #2196f3;
}
.header-contact {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-contact:hover,
.header-contact:focus,
.header-nav:hover,
.header-nav:focus {
  color: #2196f3;
}
/* ---MAIN---- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
}
.example-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.example-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.button-nav:hover,
.button-nav:focus {
  color: #ffffff;
  cursor: pointer;
  background-color: #2196f3;
}
.section-one {
  background-color: #2f303a;
}
.paragraph-main {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-nav-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}
.button-nav-main:hover,
.button-nav-main:focus {
  color: #ffffff;
  cursor: pointer;
  background-color: #2f303a;
}
.list-item-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list-item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.section-team {
  background-color: #f5f4fa;
}
.team-list {
  background-color: #ffffff;
}
/* ---FOOTER---- */
.footer-logo {
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17%;
  color: #2196f3;
}

.logo-footer {
  color: #ffffff;
}
.footer-nav {
  background-color: #2f303a;
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.footer-address:hover,
.footer-link:hover,
.footer-address:focus,
.footer-link:focus {
  color: #2196f3;
}
